@font-face {
    font-family: 'SoDo Sans Regular';
    src: url('./fonts/SoDoSans-Regular.woff') format('woff2'),
        url('./fonts/SoDoSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'SoDo Sans Bold';
    src: url('./fonts/SoDoSans-Bold.woff2') format('woff2'),
        url('./fonts/SoDoSans-Bold.woff') format('woff');
}

/* variables */
:root {
    --color-text: rgba(0, 0, 0, 0.87);
    --color-headline: rgba(0, 0, 0, 0.87);
    --font-text: 'SoDo Sans Regular';
    --font-headline: 'SoDo Sans Bold'; 
    --container-width: 1250px;
}

/* base styles */
html {
    min-width: 100%;
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}
body {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-headline);
    font-family: var(--font-headline);
}

p, a, li {
    color: var(--color-text);
    font-size: 14px;
    font-family: var(--font-text);
}

a {
    text-decoration: none;
}

a.btn {
    display: inline-block;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    /* font-weight: 600;xs */
    line-height: 1.2;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    transition: all 0.2s ease;
    font-family: var(--font-headline);
}

img {
    height: auto;
    border: 0;
    outline: none;
    border: none;
    max-width: 100%;
    object-fit: cover;
}

/* container classes */
.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 10px 25px;
}  

/* image cropping and overlays */
.image-wrapper {
    position: relative;
}
.center-image {
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.overlay {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: #000;
    opacity: .5;
    z-index: 3;
}

/* hide/show classes */
.display-none {
    display: none!important;
}
.hide {
    visibility: hidden;
}

/* flex classes */
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .flex-between-sm {
        justify-content: space-between;
    }
    .flex-around-sm {
        justify-content: space-around;
    }
    .flex-center-sm {
        justify-content: center;
    }
    .flex-start-sm {
        justify-content: flex-start;
    }
    .flex-end-sm {
        justify-content: flex-end;
    }
    .flex-middle-sm {
        align-items: center;
    }
    .flex-start-sm {
        align-items: flex-start;
    }
    .flex-top-sm {
        align-items: flex-start;
    }
    .flex-bottom-sm {
        align-items: flex-end;
    }
}

@media (min-width: 768px) {
    .flex-between-md {
        justify-content: space-between;
    }
    .flex-around-md {
        justify-content: space-around;
    }
    .flex-center-md {
        justify-content: center;
    }
    .flex-start-md {
        justify-content: flex-start;
    }
    .flex-end-md {
        justify-content: flex-end;
    }
    .flex-middle-md {
        align-items: center;
    }
    .flex-top-md {
        align-items: flex-start;
    }
    .flex-bottom-md {
        align-items: flex-end;
    }
}

@media (min-width: 790px) {
    .flex-between-lg {
        justify-content: space-between;
    }
    .flex-around-lg {
        justify-content: space-around;
    }
    .flex-center-lg {
        justify-content: center;
    }
    .flex-start-lg {
        justify-content: flex-start;
    }
    .flex-end-lg {
        justify-content: flex-end;
    }
    .flex-middle-lg {
        align-items: center;
    }
    .flex-top-lg {
        align-items: flex-start;
    }
    .flex-bottom-lg {
        align-items: flex-end;
    }
}

/* header styles */

header ul {
    padding-left: 0;
}
header ul li {
    margin: 10px;
    list-style-type: none;
}
header ul li a:hover {
    color: #00754A;
}
/* mobile nav styles */


header nav.desktop-nav-wrapper {
    display: none;
}

header .mobile-nav-wrapper {
    background-color: #fff;
}

header .mobile-nav-wrapper .mobile-nav {
    bottom: auto !important;
    position: fixed;
    top: 72px;
    height: calc(100% - 72px);
    left: 20vw;
    right: 0;
    width: 80vw;
    box-shadow: inset 0 4px 3px -3px rgba(0,0,0,.1), inset 0 4px 2px -2px rgba(0,0,0,.07);
    padding-top: 3.2rem;
    background-color: #fff;
}

header .mobile-nav-wrapper .mobile-nav-svgs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .mobile-nav-wrapper .mobile-nav-svgs svg {
    fill: #000;
    height: 38.71px;
    width: 38.71px;
}

header .mobile-nav-wrapper .mobile-nav-svgs svg#show-mobile-nav {
    height: 24px;
    width: 24px;
    color: rgba(0,0,0,.58);
    fill: transparent;
}

header .mobile-nav-wrapper .mobile-nav-svgs svg#location-pin-icon {
    display: none;
}

header .mobile-nav-wrapper .mobile-nav p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

header .mobile-nav-wrapper .mobile-nav hr {
    margin: 16px 32px 32px;
    border: 0;
}

header .mobile-nav-wrapper .mobile-nav hr::before {
    content: "";
    display: block;
    border-top: 2px solid rgba(0, 0, 0, .1);
}

header .mobile-nav-wrapper .mobile-nav a.signin {
    color: rgba(0, 0, 0, .87);
    margin-right: 1.6rem;
}

header .mobile-nav-wrapper .mobile-nav li {
    /* margin: 20px 0px; */
    padding: 16px 32px;
    margin: 0;
}

header .mobile-nav-wrapper .mobile-nav li a {
    font-size: 19px;;
}

header .mobile-nav-wrapper .mobile-nav div.btnwrapper {
    padding: 0px 24px;
    display: flex;
}

header .mobile-nav-wrapper .mobile-nav a.joinnow {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

header .mobile-nav-wrapper .mobile-nav div.findstorewrapper {
    display: flex;
    margin: 16px 0px 0px;
    padding: 0px 24px;
    align-items: center;
}

header .mobile-nav-wrapper .mobile-nav div.findstorewrapper svg {
    padding: 0px 8px 0px 0px;
}



/* desktop nav */
@media (min-width: 992px) {
    header nav.mobile-nav-wrapper {
        display: none;
    }
    header nav.desktop-nav-wrapper {
        display: block;
    }
    header .mobile-nav-wrapper .mobile-nav-svgs svg#location-pin-icon {
        display: block;
    }
}

/* footer styles */
footer p {
    margin: 10px;
}
footer p.created-by {
    text-align: center;
}
.created-by a {
    text-decoration: underline;
}

footer .buttons {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

footer .buttons .button-wrapper {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

footer .buttons .button-wrapper button {
    background: transparent;
    border: none;
}

footer .links ul {
    padding-left: 0;
}

footer .links ul li {
    list-style-type: none;
    margin: 0px 0px 8px;
    padding: 4px;
}

/* hero section */
.hero-section .image-wrapper {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .image-wrapper .content-wrapper {
    z-index: 5;
}
.turn-red {
    color: red;
}


